<div class="sb-container">
  <div class="row">
    <div class="col-8">
      <h2 class="orange-background">TEAM PLAYERS</h2>
      <%= render 'shared/player-card-show' %>
      <h2 class="orange-background">MATCH HISTORY</h2>
    </div>
    <div class="col-4">
      <%= render 'shared/team-card-show-team', team: @team %>
      <%= render 'shared/button-v2' %>
    </div>
  </div>
