<div class='wrapper-dashboard'>
  <div class='row-dashboard'>

    <div class='column-dashboard'>
      <div class="sidebar"></div>
    </div>

    <div class='column-dashboard'>
      <div class="middle">
        <%= render 'shared/navbar-dashboard' %>
        <div class="team-box">
          <% @next_scrims.each do |scrim| %>
          <%= render 'shared/team-card-messages' %>
          <%= scrim %>
          <% end %>
        </div>
      </div>
    </div>

    <div class='column-dashboard'>
      <div class="sidebar-right">
        <h3>Useful information</h3>
      </div>
    </div>

  </div>
</div>
