<section class="panel banner right">
  <div class="sidebar">

  </div>
</section>

<div class="container">
  <div class="sidebar-image">

  </div>
  <div class="row">
    <%= render 'shared/navbar-dashboard' %>
  </div>
</div>
