<div class="container">
  <section class="panel banner left">
    <div class="sidebar"></div>
  </section>

  <section class="panel navbar middle">
    <div class="row">
      <%= render 'shared/navbar-dashboard' %>
    </div>
  </section>

  <section class="panel information right">
    <div class="row">

    </div>
  </section>

</div>
