<div class="row">
  <div class="container-dahsboard">

    <div class="column left">
      <div class="sidebar"></div>
    </div>

    <div class="column middle">
      <%= render 'shared/navbar-dashboard' %>

      <div class="team-box">
      <%= render 'shared/team-card-messages' %>
      </div>

    </div>

    <div class="column right">
      <div class="sidebar-right"></div>
    </div>

  </div>
</div>
