<%= link_to dashboard_conversation_path(user) do %>
  <div class="message-card m-3">
    <div class="content">
      <%= image_tag team.images.first, class: "image" %>
      <div>
        <h3><%= team.name %></h3>
        <p><%= user.pseudo %></p>
      </div>
    </div>
  </div>
<% end %>
