<div id="messages" class="chat-box">
  <% messages.each do |message| %>
    <% if message.sender == current_user %>
      <%= render "messages/show", message: message, reverse: true, sender: true %>
    <% else %>
      <%= render "messages/show", message: message, reverse: false, sender: false %>
      <%#= image_tag message.sender.avatar, class: "avatar-large mb-2" %>
<!--       <div class="card-chat">
         <p><%= message.content %></p>
      </div> -->
    <% end %>
  <% end %>
</div>

<%= render 'messages/form', friend: friend, message: Message.new %>

