<%= simple_form_for([friend, message], remote: true) do |f| %>
  <div class="form-row">
    <div class="col-9">
      <%= f.input :content, label: false, class: "rounded-3"%>
    </div>
    <div class="col-3">
      <%= f.submit "Send a message", class: "btn-ca mt-3 w-100" %>
    </div>
  </div>
<% end %>
