<div class="sb-container">
  <div class="row">
    <div class="col-4">
      <%= render 'shared/player_card_show_player' %>
    </div>
    <div class="col-8">
      <div class="stat-category">
        Personnal statistics
      </div>

      <div class="player-stats">
       TODO
      </div>

      <div class="stat-category">
        SoloQ history
      </div>

      <div class="history-cards">

      </div>
    </div>
  </div>.
</div>

<div class="footer">
  <%= render 'shared/footer' %>
</div>
