// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


//sb colors:
$sb-superlight-blue: #5bd1d7;
$sb-light-blue: #99C1CB;
$sb-blue: #348498;
$sb-dark-blue: #004d61;
$sb-orange: #ff502f;

