.team-logo-show-team {
  height: 150px;
  position: center;
  margin-bottom: -3vh;
}

.background-logo-show-team {
  display: flex;
  place-content: center;
  justify-content: center;
  align-items: center;
  margin: 4vh auto;
}

.team-players-bloc {
  margin-bottom: 2vw;
}

.match-history-bloc {
  margin-bottom: 10vw;
}

#middle-infos {
  border-bottom: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  margin: 5vw auto;
}

#bottom-infos {
  margin: 5vw auto;
}

.booking-card {
  margin-top: 20px;
  padding: 35px;
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  border: 1px solid lightgrey;
  border-radius: 0px;
  text-align: center;
  place-content: center;
}

.team-logo-book-card {
  height: 70px;
}

#team-name-show-team {
  text-align: center;
}

.green-mode {
  background-color: #1EDD88;
}

.swal-overlay {
  background-color: rgba(153, 193, 203, 0.45);
}

.swal-title {
  margin: 0px;
  font-size: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
  padding: 20px;
}






