.back-img {
  position: relative;
  // you can change the background image file path remember to add the file in the assets
  background-image: asset-url("Spectrum-Gradient.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
}
