// Specific CSS for your home-page
.gif-container {
  position: relative;
  background-image: asset-url("gamer_800x600.gif");
  height: calc(100vh - 70px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
  // filter: brightness(1.2);
}

.white-circle {
  background-color: rgba(250, 250, 250, 0.8); // A changer si on modifie le filter brightness
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  position: absolute;
  top: -40vw;
  left: -40vw;
  z-index: 2;
}

.sb-container {
  width: 90%;
  margin: 0 auto;
}

.home-text {
  position: absolute;
  bottom: 12vw;
  right: 14vw;
  width: 20vw;
  opacity: 1;
}

.home-text h1 {
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: 800;
  margin: 0px -50px 0px 0px;
}

.home-text h3 {
  font-family:'Gidole-Regular';
  font-size: 25px;
  margin-bottom: 15px;
}

.home-text a {
  font-size: 20px;
}
// // Specific CSS for your home-page
// .gif-container {
//   width: 100%;
//   height: calc(100vh - 70px);
//   background-size: cover;
//   background-image: url("home-gif.gif");
// }

// .white-circle {
//   background-color: white;
//   width: 80vw;
//   height: 80vw;
//   border-radius: 50%;
//   position: absolute;
//   top: -40vw;
//   left: -40vw;
// }

// .navbar {
//   z-index: 2;
// }

// .home-text {
//   position: absolute;
//   bottom: 14vw;
//   right: 14vw;
//   width: 20vw;
// }
