.wrapper-dashboard {
  display: flex;
  justify-content: space-between;
}

.row-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height:60em;
}

.column-dashboard {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.sidebar-right {
  background-color: #D2D2D2;
  margin-top: 190px;
  height: 100%;

  h3{
    text-align: center;
    margin-top: 10px;
  }
}

.middle {
  height: 100px;
}

.sidebar {
  background-color: rgba(255,80,47,0.2);
  height: 100%;
  width: 330px;
}

.team-box a:hover{
  color: #f1f1f1;
}
