.container-dahsboard {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 1px;
  height: 300px;
}

.left, .right{
  width: 25%;
}

.middle {
  width: 40%;
}

.sidebar {
  height: 66em;
  width: 330px;
  top: 90px;
  background-color: rgba(255, 80, 47, 0.2);
  padding-top: 20px;

}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-right {
  margin-top:180px;
  height: 723px;
  background-color: rgba(255, 80, 47, 0.2);
}


 .team-box {
    text-align: center;
    display: inline-block;
    height: 100px;
 }
