.sidebar {
  height: 877px;
  width: 330px;
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 0;
  background-color: rgba(255, 80, 47, 0.2);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.orange-background {
  background-color: $sb-orange;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 5px
  }
