<div class="filter-bar-container">
<input list=text_editors>
<button>▼</button>
<ul id="text_editors">
    <select multiple size=5>
      <option value="word1">example-1
      <option value="word2">example-2
      <option value="word3">example-3
      <option value="word4">example-4
      <option value="word5">example-5
    </select>
  </ul>
</div>
