<div class="footer">
  <ul>
    <div class="social-icons">
      <li>
        <%= link_to "www.facebook.com/scimbuddy" do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "www.twitter.fr/scimbuddy" do %>
          <i class="fab fa-twitter"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "www.instagram.com/scimbuddy" do %>
          <i class="fab fa-instagram"></i>
        <% end %>
      </li>
    </div>
  </ul>
</div>
