<div class="box flex">
  <ul class="boxes-list">
    <li class="vs-boxes"><h2>VS</h2></li>
    <li class="vs-boxes">3</li>
    <li class="vs-boxes">4</li>
    <li class="vs-boxes">5</li>
    <li class="vs-boxes"><h3>10-6</h3></li>
    <li class="vs-boxes">7</li>
    <li class="vs-boxes">8</li>
    <li class="vs-boxes">9</li>
    <li class="vs-boxes">10</li>
    <li class="vs-boxes">11</li>
  </ul>
</div>
