<div class="cards">
  <div class="title-card">
    <h2>Most played champs</h2>
  </div>
  <ul class="boxes-list">
    <li class="vs-boxes">champ</li>
    <li class="vs-boxes">champ</li>
    <li class="vs-boxes">champ</li>
    <li class="vs-boxes">champ</li>
    <li class="vs-boxes">champ</li>
  </ul>

</div>
