<div class="title-dashboard">
  <h2>Dashboard</h2>
</div>
<div>
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to 'Program', dashboard_path, class: "tab-underlined active"%>
    </li>
    <li>
      <a href="#" class="tab-underlined">Notifications</a>
    </li>
    <li>
      <%= link_to 'Messages', conversations_dashboard_path, class: "tab-underlined"%>
    </li>
  </ul>
</div>
