<div class="navbar-container">
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to 'This Week', dashboard_path(current_user), class: "tab-underlined active"%>
    </li>
    <li>
      <a href="#" class="tab-underlined">Notifications</a>
    </li>
    <li>
      <%= link_to 'Messages', '../dashboard/message', class: "tab-underlined"%>
    </li>
    <li>
      <a href="#" class="tab-underlined">Agenda</a>
    </li>
  </ul>
</div>
