<div class="nav-container">
  <div class="sb-container">
    <div class="d-flex justify-content-between">
      <a class="logo" href="/">
        <img src="https://myrealdomain.com/images/random-logo-6.png" alt="">
      </a>
      <div class="sb-navbar">
        <li class="sb-list">
          <a class="sb-link" href="#">Teams</a>
        </li>
        <li class="sb-list">
          <a class="sb-link" href="#">Chat room</a>
        </li>
        <li class="sb-list active">
          <a class="sb-link" href="#">Scrims</a>
        </li>
        <li class="sb-link dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          <div class="dropdown-content">
            <%= link_to "Profile", "/dashboard", class: "link" %>
            <%= link_to "Logout", "/", class: "link" %>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>






