<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <a class="navbar-brand" href="#">
  <img src="https://myrealdomain.com/images/random-logo-6.png" alt="">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar mr-auto">
      <li class="nav-list nav-item active active">
        <a class="nav-linkk" href="#">Teams</a>
      </li>
      <li class="nav-list">
        <a class="nav-linkk" href="#">Chat room</a>
      </li>
      <li class="nav-list active">
        <a class="nav-linkk" href="#">Scrims</a>
      </li>
      <li class="nav-linkk dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-list" href="#">Profile</a>
          <a class="dropdown-list" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</div>
