<div class="d-flex">
  <% @team.users.each do |user| %>
    <% if user.role != "Coach" %>
      <div class="player-card-team">
        <%= link_to profile_path(user) do %>
          <%= image_tag user.avatar, class: "card-image-avatar" %>
          <p ><%= user.pseudo %>-<%= user.role %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>



