<div class="row d-flex ">
  <% @team.users.each do |user| %>
    <%= link_to profile_path(user) do %>
      <div class="col-2">
        <div class="player-card m-2">
          <%= image_tag user.avatar, class: "avatar-xl" %>
          <div class="player-card-infos">
            <p class="text-center"><%= user.pseudo %> - <%= user.role %> </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



