<div class="d-flex" style="place-content: space-evenly">
  <% players = team.users.where(user_type: 'player') %>
  <% players.each do |user| %>
  <div class="col-2">
    <div class="player-card-team">
      <%= link_to profile_path(user) do %>
      <%= image_tag user.avatar, class: "card-image-avatar" %>
      <p><%= user.pseudo %> - <%= user.role %></p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>


