<% unless active_team.nil? %>
  <% active_team.users.each do |user| %>
    <div class="player-card">
      <%= link_to profile_path(user.id) do %>
      <div class="player-card-content">
        <%= image_tag (user.avatar), class: "avatar" %>
          <div class="text-block">
            <div class="flex-item">
              <strong>Pseudo:</strong> <%= user.pseudo %><br>
              <strong>Role:</strong> <%= user.role %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
