<div class="card-container">
  <div class="top-card">
    <div id="background">
      <%= image_tag team.images.first, class: "team-logo" %>
    </div>
  </div>
  <h2>Organisation</h2>
  <div class="middle-card">
    <h4><%= team.name %></h4>
  </div>
  <h2>Location</h2>
  <div class="bottom-card">
    <h4><%= team.country %></h4>
  </div>
  <h2>Coach</h2>
  <div class="bottom-card">
    <% coach = team.users.where(user_type: 'Coach') %>
    <h4><%= coach[0].pseudo %></h4>
  </div>
</div>
