<div class="team-card-pos">
  <div class="container">
    <div class="card">
      <h2><%=  %></h2>
      <div class="card-content">
        <p></p>
      </div>
      <div class="pic">
        <%=  %>
        <p>test</p>
      </div>
    </div>
  </div>
</div>
