<h1 class="mt-4 title-size">All teams</h1>
<div class="row d-flex ">
  <% @teams.sort_by { |scrim| scrim.name }.each do |team| %>
  <div class="col-4 index-team-card">
    <%= link_to team_path(team) do  %>
    <div class="team-card m-2">
      <% team.images.each do |image|%>
      <%= image_tag image %>
      <div class="team-card-infos">
          <h2><%= team.name%></h2>
        <div class="team-card-avatar ">
          <%= image_tag image, class: "avatar-team" %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>

