<div class="card-container">
  <div class="top-card-player">
    <h2 class="player-name"><%= team.name %></h2>
    <div id="background-logo">
      <%= image_tag team.images.first, class: "team-logo" %>
    </div>
  </div>
  <h2>Location</h2>
  <div class="middle-card">
    <div class="team-name">
      <h4><%= team.country %></h4>
    </div>
  </div>
  <h2>Coach</h2>
  <div class="bottom-card">
    <div class="team-name">

      <h4><%= coach[0].pseudo %></h4>
    </div>
  </div>
</div>
