<div class="gif-container">
  <div class="white-circle">
    <div class="home-text">
      <h1>Find professionals <br> League of Legends <br> partners easily.</h1>
      <h3>ScrimBuddy centralize all the tools required for your scrims</h3>
      <%= link_to "Discover all teams", teams_path, class: "btn-ca" %>
    </div>
  </div>
</div>


