<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="gif-container">
  <div class="white-circle">
    <div class="home-text">
      <h1>Find professionals League of Legends partners easily.</h1>
      <h3>scrimBuddy centralize all the tools required for your scrims</h3>
      <%= render 'shared/button' %>
    </div>
  </div>
</div>


