  <div class="container-fluid">
    <div class='row'>
      <div class="col-4">
        <div class="sidebar">

        </div>
      </div>
      <div class='col-8'>
        <div class="middle">
          <%= render 'dashboards/navbar' %>
        </div>
      </div>
    </div>
  </div>
