<h2 class="m-3">Dashboard</h2>
<div>
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to 'Program', dashboard_path, class: "tab-underlined active"%>
    </li>
    <li>
      <%= link_to 'Invitations', '', class: "tab-underlined"%>
    </li>
    <li>
      <%= link_to 'Messages', dashboard_conversations_path, class: "tab-underlined"%>
    </li>
  </ul>
</div>
