<% if defined?(friend) %>
  <% is_active_tab = current_page?(dashboard_conversations_path) || current_page?(dashboard_conversation_path(friend)) %>
<% else %>
  <% is_active_tab = false %>
<% end %>

<div>
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to 'Program', dashboard_path, class: "tab-underlined #{'active' if current_page?(dashboard_path)}" %>
    </li>
    <li>
      <%= link_to 'Invitations', invitations_dashboard_path, class: "tab-underlined #{'active' if current_page?(invitations_dashboard_path)}"%>
    </li>
    <li>
      <%= link_to 'Messages', dashboard_conversations_path, class: "tab-underlined #{'active' if is_active_tab}"%>
    </li>
  </ul>
</div>
