<div class='wrapper-dashboard'>
  <div class='row'>
    <%= render "dashboards/sidebar" %>

    <div class="col-6">
      <div class='column-dashboard'>
        <div class="middle">

          <%= render 'navbar' %>

          <div class="program-team-box">
            <%= render 'shared/team_card', next_scrims: @next_scrims %>

          </div>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class='column-dashboard'>
        <div class="sidebar-right">
          <h3>Useful information</h3>
          <div class="dashboard-player-info">
            <%= render 'shared/player_card_dashboard', active_team: @active_team %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# This is a great comment! %>
