.card-chat {
  background-color: rgba(255, 80, 47, 0.5);
  width: 300px;
  text-align: left;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-opacity: 0.5;
  padding: 5px;

}

.chat-box {
  display: flex;
  flex-direction: column;
}

.sender {
  align-self: flex-end;
  background-color: $sb-light-blue;
}

.message-image {
  align-self: flex-end;
}
