.message-card {
  background-color: lightgrey;
  border-radius:    4px;
  display:          flex;
  align-items:      center;
  width: 250px;
  height: 80px;
  padding: 10px;
  .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $orange;
    margin-left: 5px;
    margin-right: 10px;
    background-color: white;
    padding: 5px
  }
  .content{
    display: flex;
    align-items: center;
  }

}



.message-card h3{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.message-card p{
  text-align: left;
  font-size: 16px;
  text-shadow: -1px -1px #BABDB6FF;
}

.messages-link a{
  color: black;
}

.messages-link .active {
  background-color: $sb-light-blue;
  color: white;
}


.messages-link :hover {
  background-color: $sb-light-blue;
  color: white;
  transition: 0.4s;
}
