.message-card {
  background-color: lightgrey;
  border-radius:    10px;
  display:          flex;
  align-items:      center;
  width: 250px;
  .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $orange;
    margin-left: 5px;
    background-color: white;
    padding: 5px
  }
}



.message-card h3{
  text-align: left;
  font-size: 18px;
  margin-left: 20px;
  text-shadow: 1px 1px #DDC;
}

.message-card p{
  text-align: left;
  font-size: 16px;
  margin-left: 20px;
  text-shadow: -1px -1px #BABDB6FF;
}

.messages-link a{
  color: black;
}


