.card-scrims {
  border-radius: 4px;
  overflow: hidden;
  height: 180px;
  width: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.card-scrims img {
  height: 120px;
  width: 121px;
  object-fit: cover;
  border-right: 1px solid lightgrey;
  padding: 10px;
}

.card-scrims h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-shadow: 1px 1px #DDC;
      &:hover {
    color: #348498;
    transition: .5s;
  }
}

.card-scrims p {
  color: black;
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-scrims .card-scrims-infos {
  padding: 16px;
}
