.card-scrims {
  border-radius: 4px;
  overflow: hidden;
  height: 120px;
  width: 35em;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 30px;
  cursor: pointer;
}

.card-scrims img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-right: 1px solid lightgrey;
  padding: 10px;
}

.card-scrims h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-shadow: 1px 1px #DDC;
    &:hover {
    color: #348498;
  }
}

.card-scrims p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-scrims .card-scrims-infos {
  padding: 16px;
}
