.box.flex {
  display: flex;
  justify-content: space-between;
}

.match-container {
  background: rgba(91, 215, 111, 0.3);
  border: 1px solid #348498;
  border-radius: 5px;
  box-shadow: 1px 2px #00000075;
  display: flex;
  padding: 10px;
  height: 110px;
  position: absolute;
  left: 28px;
  top: 423px;
  width: 936px;
}

.versus-match-card {
  height: 61px;
  width: 56px;
  margin-top: 12px;
  margin-left: 10px;
}

h2 {
  font-family: 'Raleway', "Helvetica", "sans-serif";
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}
