.navbar {
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
  color: white;
  background-color: #99C1CB;

    li {
      list-style-type: none;
    }

    a.nav-linkk {
      color: white;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

    img {
      width: 80px;
    }

    ul {
      padding: 0px 150px 0 900px;
    }

    .avatar {
    width: 80px !important;
    border-radius: 50%;
    margin-top: 8px;

    }

  }




