.sb-container {
  width: 100%;
  background-color: $sb-light-blue;
  color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;

  img {
      width: 80px;
      margin-left: 20px;
      align-self: center;
    }

    a {
      display: flex;
      text-decoration: none;
      color: white;
    }
}

.sb-navbar {
  display: flex;
  color: white;
  align-items: center;
  list-style-type: none;
  margin-right: 20px;

  li {
    padding: 5px;
    margin-right: 10px;
    color: black;
  }

  a.link {
    color: black;
    text-decoration: none;

  }

  a:hover {
    opacity: 0.5;
    border-bottom: solid 2px;
  }

  ul {
    list-style-type: none;
    text-decoration: none;
  }
}

.sb-avatar {
  width: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  border: solid 0.5px #f9f9f9;
  padding: 5px 0px;
  z-index: 1;
}

.dropdown-content .link:hover {
  color: white;
  background-color: $sb-light-blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}
