.navbar-container{
  float: left;
  margin-top: 100px;
  margin-bottom: 70px;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  text-shadow: -1px -1px #BABDB6FF;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined > li > a:hover {
  opacity: 1;
  border-bottom: 2px solid #555555;
}
