.navbar-container{
  float: left;
  margin-top: 100px;
  margin-bottom: 70px;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 10px;
}

.tabs-underlined .tab-underlined {
  color: #9F9F9F;
  padding: 8px;
  margin: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  &.active {
    color: black;
    border-bottom: 2px solid #555555;
  }
}

.tabs-underlined > li > a:hover {
  color: black;
  border-bottom: 2px solid #555555;
  transition: 1s;
}

.title-dashboard h2 {
  display: flex;
  padding: 10px;
  margin: 30px;
  font-weight: 800;
}
