
.dashboard-player-info {
    padding: 5px;
    margin-left: 40px;
 .player-card {
   background: #427a8859;
   border-radius: 5px;
   width: 80%;
   // height: 110px;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   margin: 10px 20px 10px 20px;

   .avatar {
     height: 80px;
     width: 100px;
     border-radius: 50%;
     margin: 5px;
     filter: drop-shadow(3px 2px 2px #3E3B3B6E);
    }

   .text-block {
     margin-left: 10px;
     text-shadow: 1px 1px #929281;
     overflow: overlay;
    }

   .player-card-content {
      display: flex;
      align-items: center;
      // height: 50px;
    }
  }

 .flex-item {
   flex-direction: column;
  }
}
