.card-image-avatar{
  height:120px;
  width: 100%;
  object-fit: cover;
}

.player-card-team{
  border: 2px solid $sb-blue;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  height: 180px;
}

.player-card-team  p{
  text-align: center;
  vertical-align: center;
  color: $sb-dark-blue;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}
