.card-image-avatar{
  height:120px;
  width: 120px;
  object-fit: cover
}

.player-card-team{
  border: 2px solid $sb-blue;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold
}

.player-card-team  p{
  text-align: center;
  vertical-align: center;
  color: $sb-dark-blue
}
