.card-container {
  left: 27px;
  top: 137px;
  border-radius: 5px;
  background-color: $sb-orange;
  border: 2px solid $sb-orange;
  margin-top: 20px;

  h4 {
    color: black;
    position: center;
    text-align: center;
    font-size: 24px;
  }

  h2 {
    color: white;
    position: center;
    text-align: center;
    padding: 20px;
    font-size: 24px;
  }

  #background {
    background-color: white;
    height: 310px;
    position: relative;

  }

  .profile-pic {
    height: 290px;
    align-self: center;
    position: absolute;
    bottom: 0px;
  }

  .middle-card {
    color: black;
    padding: 20px 40px;
    background-color: white;
    margin: solid;
  }

  .bottom-card {
    color: black;
    padding: 20px 40px;
    background-color: white;
    margin: solid;
  }
}

