.card-image-avatar{
  height: 150px;
  width: 100%;
  object-fit: contain;
  border-bottom: solid 1px lightgray;
}

.player-card-team{
  border: 1px solid lightgray;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  width: 140%;
  height: 210px;
  background-color: white;
}

.player-card-team  p{
  text-align: center;
  vertical-align: center;
  color: black;
  margin: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}
