.card-image-avatar{
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-bottom: solid 1px lightgray;
}

.player-card-team{
  border: 1px solid lightgray;
  border-radius: 4px;
  font-weight: bold;
  width: 140%;
  height: 180px;
  background-color: white;
}

.player-card-team  p{
  text-align: center;
  vertical-align: center;
  color: $sb-orange;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}
