.max-height {
  height: calc(100vh - 90px);
}


.cirlcle-per-cent {
  border: 2px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.games-stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.games-stats, .player-ranking {
  margin: 20px auto;
  width: 100%;
}

.player-ranking {
  text-align: center;
}

.player-ranking img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.games, .ranking, .most-used-champ {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 80%;
}

.stat-number {
  font-weight: bold;
  font-size: 32px;
}

.stat-label {
  font-size: 20px;
  font-weight: lighter;
}

.stat {
  width: 100%
}


.stats-ranking {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
