#new_scrim {
  text-align: -webkit-center;
}

.scrim-booking-form {
  display: flex;
  place-content: space-between;
}

.end_shift_btn {
  width: 46%;
  background-color: $sb-dark-blue;
  color: white;
  font-weight: 900;
  border-radius: 4px;
}

.btn-book-scrim-form {
  width: 100%;
}
